.container{
    margin: 0 auto;
  }
  h1{
    font-size:48px;
    padding-top: 56px;
    padding-bottom: 40px;
  }
  h2{
    font-size: 64px;
    padding-top: 56px;
    padding-bottom: 12px;
  }
  .header p{
    font-size: 20px;
    padding-bottom: 68px;
    padding-top: 32px;
  }
  .banner{
     text-align: center;
  }
  .banner p{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }
  .banner ul{
    text-align: center;
    font-weight: bold;
  }
  .header{
    text-align: center;
    background-color: black;
    color: white;
  }
  .work{
     background-color: black;
     display: flex;
     flex-wrap:wrap;
     width: 1200px;
  }
  .styl1 ul{
    display: flex;
    flex-wrap:wrap;
    width: 1200px;
  }
  h4{
    text-align: center;
  }
  .footer{
    background-color: black;
    color: white;
  }