/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.container{
  margin: 0;
}
.pic1{
  background-image: url(img/banner.png);
  width: 1920px;
  height: 958px;
  text-align: center;
  line-height: 42px;
}
.pic1 ul{
  margin: 0 auto;
  padding-top: 308px;
}
.pic1 p{
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 42px;
}
  
.pic1 h1{
  color: white;
  font-size: 80px;
  font-weight: bold;
  line-height: 106px;
}
h2{
  font-size: 64px;
  padding-bottom: 56px;
  padding-bottom: 40px;
  text-align: center;
}

.about p{
  font-size: 24px;
  text-align: center;
  line-height: 42px;
}
.about ul{
  font-size: 24px;
  line-height: 42px;
  text-align: center;
}

.border{
  border-top: 1px solid gray;
}
.brand{
  background-color: black;
  text-align: center;
}
.brandi{
  background-color: black;
  text-align: center;
}
.brand h2{
font-size: 64px;
color: white;
}
.brand li{
  font-size: 24px;
  color: white;
}
.brand p{
  font-size: 20px;
  padding-top: 32px;
  padding-bottom: 68px;
  color: white;
}
.brandi ul{
  display: flex;
  justify-content: center;
}
.brandi li{
  padding-right: 24px;
  padding-top: 40px;
}
.works p{
  text-align: center;
}
.works h4{
  text-align: center;
}
.works ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works li{
  padding: 24px;
}
.works h2{
padding-top: 56px;
}
.footer{
  background-color: black;
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer p{
  text-align: center;
}